
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us</h1>
<h2>Since 2022, as the BlogMVC family, we have been writing the most up-to-date blog posts in the world of cinema.</h2>

